html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  padding: 5px 20px;
  overflow-y: auto;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  padding: 5px 20px;
  overflow-y: auto;
}

